# Database
DATABASE_URL=

# Authentication
AUTH_RESEND_KEY=
AUTH_SECRET=

# Meta
META_GRAPH_API_TOKEN=

# Next
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_REACT_SCAN_API_KEY=
NEXT_PUBLIC_UMAMI_WEBSITE_ID=

# Stripe
STRIPE_KEY=
WEBHOOK_VERIFY_TOKEN=

# WhatsApp
WHATSAPP_PHONE_NUMBER_ID=

# S3
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=
S3_ENDPOINT=
S3_PUBLIC_URL=
