AUTH_RESEND_KEY=
AUTH_SECRET=
DATABASE_URL=
META_GRAPH_API_TOKEN=
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_REACT_SCAN_API_KEY=
NEXT_PUBLIC_UMAMI_WEBSITE_ID=
STRIPE_KEY=
WEBHOOK_VERIFY_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
